.Projects {
  display: flex;
  position: relative;
  flex-direction: column-reverse;
}

.Projects > span {
  display: none;
  display: block;
  z-index: -1;
  position: absolute;
  left: 0%;
  top: -75px;
}

.ProjectsListWrapper,
.ProjectsHeadingWrapper {
  width: 100%;
  padding: 0 16px;
}
.ProjectsListWrapper {
  background-color: var(--primary-color);
  padding: 64px 0;
}

.ProjectsListWrapper ul {
  max-width: 368px;
  margin: 0 auto;
  padding: 0 28px 0 24px;
}

.ProjectsListWrapper ul li {
  font-size: 16px;
  line-height: 140%;
  color: var(--text-color-dark);
  list-style: none;
}

.ProjectsListWrapper ul li::before {
  content: "\2022";
  color: var(--secondary-color);
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.ProjectsHeadingWrapper {
  background-color: var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 56px;
  height: 50vh;
}

.ProjectsHeadingWrapper h3 {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  color: #ffffff;
  max-width: 460px;
  text-align: left;
  font-size: 24px;
}

.Slider {
  display: none;
}

.MobileList li:not(:last-of-type) {
  margin-bottom: 16px;
}

@media only screen and (min-width: 768px) {
  .ProjectsListWrapper ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: none;
    grid-column-gap: 64px;
    padding: 0 32px;
  }
}

@media only screen and (min-width: 1280px) {
  .Projects {
    flex-direction: row;
  }

  .ProjectsListWrapper,
  .ProjectsHeadingWrapper {
    width: 50%;
    padding: 0;
  }

  .ProjectsHeadingWrapper {
    height: 760px;
  }

  .ProjectsListWrapper ul {
    padding: 64px 0;
  }

  .ProjectsHeadingWrapper h3 {
    text-align: left;
    font-size: 36px;
  }

  .ProjectsListWrapper ul li {
    font-size: 20px;
  }

  .ProjectsListWrapper ul li:not(:last-of-type) {
    margin-bottom: 16px;
  }

  .Slider {
    display: block;
    height: 100%;
  }

  .Slider ul {
    display: flex;
    flex-direction: column;
    max-width: 50%;
  }

  .MobileList {
    display: none;
  }

  .Projects > span {
    top: -95px;
  }
}
