.ServicesWrapper {
  width: 100%;
  position: relative;
  padding: 64px 16px;
}

.ServicesWrapper > span {
  display: none;
  display: block;
  z-index: -1;
  position: absolute;
  left: 0%;
  top: -5px;
}

.ServicesImgTop {
  background-image: url("/assets/back-top.png");
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: -1;
  height: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.ServicesImgBottom {
  background-image: url("/assets/back-bottom.png");
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: -1;
  height: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 30% 25%;
}

.Services {
  max-width: 650px;
  margin: 0 auto;
}

.Services p {
  font-size: 16px;
  line-height: 140%;
  color: #666666;
  max-width: 320px;
}

.Services h2 {
  color: var(--text-color-dark);
  text-align: center;
  margin-bottom: 64px;
}

.Services h4 {
  color: var(--secondary-color);
  margin-bottom: 16px;
  max-width: 250px;
}

.Grid {
  display: flex;
  flex-direction: column;
}

.Left,
.Right {
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 1280px) {
  .ServicesWrapper {
    padding: 124px 0px;
  }

  .Grid {
    flex-direction: row;
    gap: 64px;
  }

  .Left > div:not(:last-of-type),
  .Right > div:not(:last-of-type) {
    margin-bottom: 40px;
  }
}
