.ServicesWrapper {
  width: 100%;
  position: relative;
  padding: 64px 24px 80px;
}

.ServicesWrapper > span {
  display: none;
  display: block;
  z-index: -1;
  position: absolute;
  left: 0%;
  top: -20px;
}

.ServicesImgTop {
  background-image: url("/assets/back-top.png");
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: -1;
  height: 10%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.ServicesImgBottom {
  background-image: url("/assets/back-bottom.png");
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: -1;
  height: 10%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 30% 25%;
}

.Services {
  margin: 0 auto;
}

.Services p {
  font-size: 16px;
  line-height: 140%;
  color: var(--text-color-dark);
  max-width: 320px;
}

.Services h2 {
  color: var(--text-color-dark);
  text-align: center;
  margin-bottom: 64px;
}

.Services h4 {
  color: var(--secondary-color);
  margin-bottom: 16px;
  max-width: 300px;
}

.Grid {
  display: grid;
  flex-direction: column;
  gap: 32px;
  grid-template-columns: repeat(1, auto);
  grid-template-rows: repeat(5, auto);
}

@media only screen and (min-width: 768px) {
  .ServicesWrapper {
    padding: 64px 32px 80px;
  }

  .Grid {
    display: grid;
    flex-direction: column;
    gap: 32px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
  }

  .Grid > div:nth-of-type(1) {
    grid-area: 1 / 1 / 2 / 3;
  }
  .Grid > div:nth-of-type(2) {
    grid-area: 2 / 1 / 3 / 2;
  }

  .Grid > div:nth-of-type(3) {
    grid-area: 2 / 2 / 3 / 3;
  }

  .Grid > div:nth-of-type(4) {
    grid-area: 3 / 1 / 4 / 2;
  }
  .Grid > div:nth-of-type(5) {
    grid-area: 3 / 2 / 4 / 3;
  }

  .Services p {
    max-width: none;
  }

  .ServicesImgTop {
    height: 50%;
    opacity: 0.7;
  }

  .ServicesImgBottom {
    height: 50%;
    opacity: 0.4;
  }
}

@media only screen and (min-width: 1280px) {
  .ServicesWrapper {
    padding: 124px 0px;
  }

  .Left > div:not(:last-of-type),
  .Right > div:not(:last-of-type) {
    margin-bottom: 40px;
  }

  .ServicesWrapper > span {
    top: -5px;
  }

  .ServicesImgBottom {
    opacity: 1;
    background-position: 30% 40%;
  }

  .ServicesImgTop {
    opacity: 1;
  }

  .Services {
    max-width: 650px;
  }
}
