.Hero {
  margin: 0 auto;
  width: 100%;
  position: relative;
  height: 100vh;
  /* animation: clip-hero-anim 1.25s cubic-bezier(0.29, 0.8, 0.8, 0.98); */
  overflow: hidden;
}

.Hero h1 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 48px;
  text-align: center;
  animation: fade-in 4s ease-in-out;
  text-transform: capitalize;
  font-weight: 600;
  text-shadow: -4px 4px 4px #00000065;
  width: 100%;
}

.Hero h1 span {
  display: block;
}

.Parallax {
  background-image: url("/assets/hero-img.jpg");
  min-height: 100vh;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  animation: scaling-hero-anim 4s ease-in-out forwards;
  /* will-change: transform; */
}

@media only screen and (min-width: 768px) {
  .Hero h1 {
    width: max-content;
    font-size: 48px;
  }
}

@media only screen and (min-width: 1280px) {
  .Hero h1 {
    width: max-content;
    font-size: 64px;
  }

  .Hero h1 span {
    display: inline;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes scaling-hero-anim {
  from {
    transform: scale(1.25);
  }
  to {
    transform: scale(1);
  }
}
/* @keyframes clip-hero-anim {
  from {
    clip-path: polygon(50% 50%, 50% 50%, 50% 50%, 50% 50%);
  }
  to {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
} */
