.PrivacyPolicy {
  max-width: 1440px;
  margin: 0 auto;
  padding: 120px 1rem 80px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
}

.PrivacyPolicy h1,
.PrivacyPolicy h3 {
  color: var(--secondary-color);
}

.PrivacyPolicy h1 {
  font-size: 48px;
  margin-bottom: 40px;
}

.PrivacyPolicy h3 {
  margin: 24px 0;
}

.PrivacyPolicy p {
  color: var(--text-color-dark);
  line-height: 180%;
  font-size: 16px;
}

.PrivacyPolicy ul {
  padding-left: 24px;
  margin-top: 24px;
}

.PrivacyPolicy ul li {
  color: var(--text-color-dark);
  line-height: 140%;
  margin-bottom: 8px;
  font-size: 16px;
}

.ContactInfo p {
  line-height: 130%;
}

.ContactInfo > p:nth-of-type(1) {
  font-weight: 700;
}

.ContactInfo > div {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 24px;
}

.PrivacyPolicy a,
.ContactInfo a {
  color: var(--secondary-color);
  text-decoration: underline;
}

@media only screen and (min-width: 1280px) {
  .PrivacyPolicy {
    padding: 180px 3.88em 120px;
  }
}
