.MobileNav {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 3;
  background: #f5f5f7;
  left: -999px;
  opacity: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-in-out;
}

.LinksWrapper {
  position: absolute;
  bottom: 120px;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  height: 40px;
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
}

.LinksWrapper svg {
  width: 32px;
  height: 32px;
}

.NavList {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 32px;
  transform: translateY(-32px);
}

.NavList li {
  font-family: "Georgia-pro";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  font-weight: 600;
  text-transform: uppercase;
  color: #b3b3b3;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}

.Open {
  left: 0;
  opacity: 1;
}

@media only screen and (min-width: 992px) {
  .MobileNav {
    display: none;
  }
}
