.WhoWeAre {
  padding: 124px 0;
  position: relative;
  background-color: rgb(245, 245, 245);
}

.WhoWeAre > span {
  display: none;
  display: block;
  z-index: -1;
  position: absolute;
  left: 0%;
  top: 0px;
}

.WhoWeAre h2 {
  color: var(--text-color-dark);
  text-align: center;
  margin-bottom: 64px;
  text-transform: capitalize;
}

.ContentWrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: calc(100% - 32px);
  justify-content: center;
  gap: 80px;
}

.ContentWrapper:nth-of-type(1) {
  margin-bottom: 64px;
}

.TextWrapper {
  max-width: 363px;
}

.TextWrapper p {
  font-size: 18px;
  line-height: 140%;
  color: var(--text-color-dark);
}

.TextWrapper p:not(:last-of-type) {
  margin-bottom: 24px;
}

.CardWrapper {
  box-shadow: rgba(149, 157, 165, 0.1) 0px 4px 12px;
  height: max-content;
  border-radius: 12px;
  overflow: hidden;
}

.CardWrapper > div:nth-of-type(2) {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: rgb(226, 226, 226);
  border-radius: 0px 0px 12px 12px;
  padding: 24px 32px;
}

.CardWrapper > div h4 {
  font-size: 32px;
  line-height: 32px;
  color: var(--secondary-color);
}

.CardWrapper > div span {
  font-size: 16px;
  line-height: 27px;
  color: var(--text-color-dark);
  margin: 0px 0 24px;
}

.CardWrapper > div div {
  display: flex;
  gap: 16px;
  align-items: center;
}

.CardWrapper a {
  width: 40px;
  height: 40px;
}

.CardWrapper svg {
  width: 40px;
  height: 40px;
}

.ImageWrapper {
  position: relative;
  width: 100%;
  height: 359px;
}

.TextWrapper p span {
  font-style: italic;
}

@media only screen and (min-width: 1280px) {
  .ContentWrapper {
    flex-direction: row;
    width: 100%;
  }

  .CardWrapper > div span {
    font-size: 20px;
  }

  .ImageWrapper {
    width: 300px;
  }
}
