.ContactWrapper {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
}

.ContactWrapper > span {
  display: none;
  display: block;
  z-index: -1;
  position: absolute;
  left: 0%;
  top: -75px;
}

.ContactImage {
  background-image: url("/assets/contact-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  width: 100%;
  height: 50vh;
}

.DetailsWrapper {
  background-color: #e3e3e3;
  width: 100%;
  padding: 64px 16px;
  height: auto;
}

.DetailsWrapper > div > span {
  font-family: "Georgia";
  font-style: italic;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #999999;
  display: block;
  /* margin: 24px 0 16px; */
}

.DetailsWrapper p {
  font-size: 16px;
  line-height: 140%;
  color: #666666;
  margin-bottom: 24px;
}

.DetailsWrapper > div {
  margin: 0 auto;
  width: fit-content;
}

.LinksWrapper {
  display: flex;
  gap: 8px;
}

.LinksWrapper a {
  width: 32px;
  height: 32px;
}

.LinksWrapper a svg {
  width: 100%;
  height: 100%;
}

.DetailsWrapper .Place {
  flex-direction: column;
}

.DetailsWrapper .Place p {
  margin-bottom: 0;
}

.Logo {
  position: relative;
  width: 199px;
  height: 93px;
  margin-bottom: 16px;
}

@media only screen and (min-width: 768px) {
  .DetailsWrapper {
    padding: 64px 32px;
  }
}

@media only screen and (min-width: 1280px) {
  .ContactWrapper {
    flex-direction: row;
    height: 760px;
  }

  .ContactImage {
    width: 50%;
    height: 100%;
  }

  .DetailsWrapper {
    width: 50%;
    position: relative;
  }

  .DetailsWrapper > span {
    margin: 64px 0 16px;
  }

  .DetailsWrapper p {
    margin-bottom: 64px;
    max-width: 201px;
  }

  .DetailsWrapper > div {
    display: flex;
    flex-direction: column;
    width: max-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .ContactWrapper > span {
    top: -95px;
  }

  .LinksWrapper a {
    width: 40px;
    height: 40px;
  }

  .LinksWrapper {
    display: flex;
    gap: 16px;
  }

  .Logo {
    width: 199px;
    height: 93px;
  }
}

@media only screen and (min-width: 1440px) {
}
