@font-face {
  font-family: "Georgia-pro-bold";
  font-style: normal;
  font-weight: normal;
  src: local("Georgia-pro-bold"),
    url("/fonts/georgia-pro-bold.ttf") format("truetype");
}

@font-face {
  font-family: "Georgia-pro";
  font-style: normal;
  font-weight: normal;
  src: local("Georgia-pro"), url("/fonts/georgia-pro.ttf") format("truetype");
}

* {
  box-sizing: border-box;
}

:root {
  --primary-color: #f0f0f0;
  --secondary-color: #00264a;
  --text-color-dark: #808080;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  padding: 0;
  margin: 0;
  font-size: 1rem;
  line-height: 100%;
  font-family: "Georgia-pro", sans-serif;
  font-style: normal;
}

body {
  font-size: calc(0.20181634712411706vw + 0.625em);
}

.container {
  padding: 0 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-style: normal;
  margin: 0;
  font-weight: 400;
  line-height: 120%;
}

h1,
h2,
h3,
h4 {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
}

h3,
h4 {
  font-weight: 400;
}

h1 {
  font-size: 64px;
  line-height: 73px;
  color: #ffffff;
}

h2 {
  font-size: 40px;
  line-height: 45px;
}
h3 {
  font-size: 28px;
  line-height: 160%;
}

h4 {
  font-size: 24px;
  line-height: 27px;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  margin: 0px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
}

.hamburger-react {
  z-index: 5;
}

.hamburger-react > div {
  background-color: var(--text-color-dark) !important;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
}

.swiper-button-next,
.swiper-button-prev {
  color: var(--text-color-dark) !important;
  border-radius: 50%;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-weight: 900;
}

.swiper-button-next {
  right: 10% !important;
}

.swiper-pagination-bullet-active {
  background: var(--text-color-dark) !important;
}

.swiper-pagination-bullet,
.swiper-button-prev.swiper-button-disabled {
  color: var(--text-color-dark) !important;
}

.swiper-pagination {
  bottom: 10% !important;
}

.swiper-button-prev {
  left: 10% !important;
}

.cls-1 {
  fill: #b3b3b3;
  fill-rule: evenodd;
  transition: 0.3s all ease-in-out;
  position: relative;
}

svg {
  transition: all 0.3s ease;
}

svg path {
  transition: all 1s ease-in-out;
}

svg:hover {
  transform: scale(1.05) translateY(-4px);
}

svg:hover path {
  fill: var(--secondary-color);
}

@media screen and (min-width: 992px) {
  .body {
    min-height: 0vw;
    font-size: calc(0.6122848200312989vw + 0.3092723004694837em);
  }

  .container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 3.88em;
  }
}

@media screen and (min-width: 1560px) {
  body {
    font-size: 0.90625em;
  }
}
